<div class="cssmenu">
	<ul>
		<li class="active">
			<a href="index.html">
				<h6>Home</h6>
			</a>
		</li>
		<li>
			<a href="index.html">
				<h6>Home</h6>
			</a>
		</li>
		<li>
			<a href="index.html">
				<h6>Home</h6>
			</a>
		</li>
		<li>
			<a href="index.html">
				<h6>Home</h6>
			</a>
		</li>
	</ul>
</div>


<ul class="ch-grid">
	<li>
		<div class="ch-item ch-img-1">
			<div class="ch-info-wrap">
				<div class="ch-info">
					<div class="ch-info-front ch-img-1"></div>
					<div class="ch-info-back">
						<h3>Bears Type</h3>
						<p>by Josh Schott <a href="http://drbl.in/ewUW">View on Dribbble</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
